@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html, body {
  font-family: Roboto, sans-serif;
}

.is-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}
.is-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
.is-subtitle-2 {
  font-size: 24px;
  line-height: 36px;
}
.is-paragraph {
  font-size: 20px;
  line-height: 36px;
}

.is-text-centered {
  text-align: center !important;
}
