.element {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.shape {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}
.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
