<template>
  <div class="home">
    <div ref="square" class="element">
      <Square class="element shape square"/>
    </div>
    <div ref="circle" class="element">
      <Cir class="element shape circle is-deep-blue"/>
    </div>
    <div ref="star" class="element">
      <Star class="element shape star is-red"/>
    </div>
    <div ref="text" class="element slogan is-text-centered">
      <div class="is-title">GEOMETRY PERSON</div>
      <div class="is-subtitle-2">find your core personality type in shapes!</div>
    </div>
  </div>
</template>

<script>
import { TweenLite, Power2 } from 'gsap/TweenMax'

import Cir from '@/assets/img/circle.svg'
import Star from '@/assets/img/star.svg'
import Square from '@/assets/img/square.svg'

export default {
  name: 'home',
  components: {
    Cir,
    Star,
    Square
  },
  mounted () {
    const { square, circle, star } = this.$refs
    TweenLite.to(square, 5, {
      rotation: -360,
      ease: Power2.easeOut
    })
    TweenLite.to(circle, 1.5, { scale: 1.15 })
    TweenLite.to(circle, 2.5, { scale: 1, delay: 1.5 })
    TweenLite.to(star, 5, {
      rotation: 360,
      ease: Power2.easeOut
    })

    TweenLite.to(square, 0.5, {
      scale: innerWidth / 450 + 1,
      delay: 5 - 1,
      ease: Power2.easeOut
    })
    TweenLite.to(circle, 0.5, {
      scale: innerWidth / 540 + 1,
      delay: 5 - 0.7,
      ease: Power2.easeOut
    })
    TweenLite.to(star, 0.5, {
      scale: innerWidth / 365 * 2,
      delay: 5 - 0.4,
      ease: Power2.easeOut,
      onComplete: () => this.$router.push({
        name: 'question',
        params: { num: 1 }
      })
    })
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/vars.scss";
#app {
  background-color: $light-blue;
}
.home {
  .star {
    width: 365px;
  }
  .circle {
    width: 540px;
  }
  .square {
    width: 450px;
  }
}
</style>
