<template>
  <div
    id="question"
    :class="classList"
  >
    <div id="text-block" class="">
      <div class="wrapper">
        <div class="is-title">Q{{ num }}</div>
        <div class="is-subtitle">{{ q[num - 1].title }}</div>
        <div class="notice is-subtitle-2">Choose the answer appeared in your mind instantly</div>
        <ul>
          <li
            v-for="(option, index) of q[num - 1].option"
            :key="index"
            class="is-subtitle-2"
          >{{ option }}</li>
        </ul>
      </div>
    </div>
    <div id="animation-block" :class="{ active }">
      <Cir class="circle"/>
      <Square class="square"/>
      <Triangle class="triangle"/>
    </div>
  </div>
</template>

<style lang="scss">
@import "@/assets/scss/vars.scss";

@keyframes spin {
  100% {
    transform: rotate(360deg)
  }
}
@keyframes spin-reverse {
  100% {
    transform: rotate(-360deg)
  }
}
@keyframes shake {
  25% {
    transform: translate(5%, 0)
  }
  75% {
    transform: translate(-5%, 0)
  }
  100% {
    transform: translate(0, 0)
  }
}

#question {
  display: flex;
  height: 100vh;

  &.light-blue, &.deep-blue {
    color: $white;
    .is-title {
      color: $red;
    }
  }
  &.light-blue {
    .notice {
      color: $deep-blue
    }
    #animation-block {
      background: $deep-blue;
      .circle {
        width: 40%;
        right: -5.1%;
        fill: $black;
      }
      .square {
        width: 17.5%;
        right: 17%;
        fill: $red;
      }
      .triangle {
        width: 15%;
        right: -2.3%;
        fill: $white;
      }
      &.active {
        .circle {
          bottom: -18%;
          animation: shake 3s linear 1s infinite;
        }
        .square {
          bottom: 62.6%;
          animation: spin 3s linear 1s infinite;
        }
        .triangle {
          bottom: 41.8%;
          animation: spin-reverse 3s linear 1s infinite;
        }
      }
    }
  }
  &.deep-blue {
    .notice {
      color: $light-blue
    }
    #animation-block {
      background: $red;
      .circle {
        width: 191px;
      }
      .square {
        width: 480px;
      }
      .triangle {
        width: 420px;
      }
    }
  }
  &.red {
    .is-subtitle, .notice {
      color: $black;
    }
    #animation-block {
      background: $light-blue;
      .circle {
        width: 312px;
      }
      .square {
        width: 325px;
      }
      .triangle {
        width: 300px;
      }
    }
  }
  &.odd {
    #text-block {
      order: 1;
    }
    #animation-block {
      order: 2;
    }
  }
  &.even {
    #text-block {
      order: 2;
    }
    #animation-block {
      order: 1;
    }
  }

  #text-block {
    width: 60vw;
    flex-shrink: 0;
    .wrapper {
      padding: 86px 122px;
    }
  }
  .notice {
    margin-top: 16px;
  }
  ul {
    /* style reset */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* custom style */
    margin-top: 40px;
    user-select: none;
  }
  li {
    padding: 10px 0;
    margin: 16px 0;
    text-align: center;
    border: 2px solid $white;
    border-radius: 999px;
    transition: all .5s;
    &:hover {
      background: $white;
      color: $light-blue;
    }
  }

  #animation-block {
    width: 40vw;
    margin-left: 40vw;
    transition: all .5s;
    &.active {
      margin-left: 0;
    }
    > * {
      transition: bottom 1.5s;
    }
    .circle, .square, .triangle {
      position: absolute;
      bottom: -100vh;
    }
  }
  &.done {
    #text-block {
      display: none;
    }
    #animation-block {
      > * {
        display: none;
      }
    }
  }
}
</style>

<script>
import Cir from '@/assets/img/circle.svg'
import Square from '@/assets/img/square.svg'
import Triangle from '@/assets/img/triangle.svg'

const q = [
  {
    title: 'If one day you get a gift that can change the rule of the world, which ability will you choose?',
    option: [
      'Destroy all humans in the world',
      'Make the war never happened',
      'You won’t get old and live forever'
    ]
  },
  {
    title: 'Imagine you’re almost late, but totally lost at a forked road. Which way do you prefer to go?',
    option: [
      'The left one',
      'The right one',
      'Open Google Map'
    ]
  },
  {
    title: 'When you’re in a exam which you barely prepared for, which is your priority solution?',
    option: [
      'Take a nap right away',
      'Fill the answer randomly',
      'All fill the answer "C"'
    ]
  }
]

const theme = ['light-blue', 'deep-blue', 'red']

export default {
  name: 'Question',
  components: {
    Cir,
    Square,
    Triangle
  },
  data: () => ({
    q,
    num: 1,
    active: false
  }),
  // props: ['num'],
  computed: {
    classList () {
      return [
        theme[(this.num - 1) % 3],
        this.num % 2 ? 'odd' : 'even'
      ]
    }
  },
  mounted () {
    this.done = false
    setTimeout(() => { this.active = true }, 2500)
  }
}
</script>
