<template>
  <div id="app">
    <transition :name="routerTransition">
      <router-view/>
    </transition>
  </div>
</template>

<style lang="scss" src="@/assets/scss/index.scss"></style>

<style lang="scss">
html, body, #app {
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: #fff;
  overflow: hidden;
}
</style>

<script>
import { mapState } from 'vuex'

export default {
  name: 'App',
  computed: mapState([
    'routerTransition'
  ])
}
</script>
